mat-drawer{
  width: 20%;
  height: 100%;
  padding-left: 1%;
}
.example-container {
  width: 100%;
  height: 100%;
}

.mat-card{
  text-align: center;
  width: 60%;
  height: auto;
  display: inline-block;
  align-content: center;
  margin-left: 15%;
  margin-top:5%;
  box-shadow: 0 4px 4px 0 rgba(.4,.4,.4,.2);
}

table.th{
  background-color: #90a5dc;
}
mat-card-title{
  margin-right: 50% !important;
  font-size: x-large;
}

table {
  width: 100%;
  border-spacing: 10px 10px;
  cell-spacing:82px;

}

th{
  background-color: #b6c4f1;
}
td{
  background-color: rgb(248, 248, 248);
  border-collapse:separate;
  border-spacing:0 15px;
}
