<app-nav-bar></app-nav-bar>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <app-side-bar></app-side-bar>
  </mat-drawer>
  <mat-drawer-content>
    <mat-card>
      <mat-card-title>LISTADO DE PRODUCTOS </mat-card-title><br>


      <table class="default"  style="background: #F3F3F3">
        <tr>
          <th><strong>Categoría</strong> </th>
          <th><strong>Descripción</strong> </th>
          <th><strong>Precio</strong></th>
          <th><strong>Acciones</strong></th>
        </tr>

        <tr *ngFor=" let i of productos; let in = index">
          <td>{{i['categoria']}}</td>
          <td>{{i['descripcion']}}</td>
          <td>{{i['precio']}}</td>
          <td>
            <button class="btn">
            <mat-icon>delete</mat-icon>
          </button>
            <button class="btn" (click)="actualizar(in)">
              <mat-icon>create</mat-icon>
            </button>
          </td>
        </tr>
      </table>
      <tr>

    </mat-card>
  </mat-drawer-content>

</mat-drawer-container>
