<app-nav-bar></app-nav-bar>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <app-side-bar></app-side-bar>
  </mat-drawer>

  <mat-drawer-content>

    <mat-card>
      <mat-card-title>CREACIÓN DE INGRESO-EGRESO </mat-card-title><br>

      <mat-card-subtitle>Producto disponible</mat-card-subtitle>
      <mat-form-field class="example-full-width" appearance="fill">
        <select matNativeControl required #orden_producto>
          <option *ngFor="let i of producto"  [value]="i['producto']">{{i['producto']}}</option>
        </select>
      </mat-form-field>

      <mat-card-subtitle>Tipo de movimiento</mat-card-subtitle>
      <mat-form-field class="example-full-width" appearance="fill">
        <select matNativeControl required #tipo>
          <option value="Ingreso">Ingreso</option>
          <option value="Egreso">Egreso</option>
        </select>
      </mat-form-field>

      <mat-card-subtitle>Fecha del movimiento</mat-card-subtitle>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>MM/DD/YYYY</mat-label>
        <input matInput #fecha [matDatepicker]="picker" >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-grid-list cols="2" rowHeight="6:1" >

      <mat-grid-tile>
        <mat-card-subtitle >Costo unidad(USD)</mat-card-subtitle>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card-subtitle >Cantidad</mat-card-subtitle>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="example-width" appearance="fill">
          <input matInput #costo_unitario>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="example-width" appearance="fill">
          <input matInput #cantidad>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>


      <br><br><mat-grid-list cols="2"  rowHeight="5:1">
        <mat-grid-tile>
          <button class="aceptarBtn" mat-raised-button (click)="crearMovimiento(orden_producto.value, tipo.value, fecha.value, +costo_unitario.value, +cantidad.value )">Registrar</button>
        </mat-grid-tile>

        <mat-grid-tile>
          <button class="cancelarBtn" mat-raised-button (click)="router.navigate(['/inicio'])">Cancelar</button>
        </mat-grid-tile>
      </mat-grid-list>
      <h3 class="text-success">{{mensaje}}</h3>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>

