mat-drawer{
  width: 20%;
  height: 100%;
  padding-left: 1%;
}
.example-container {
  width: 100%;
  height: 100%;
}

.mat-card{
  text-align: center;
  width: 60%;
  height: 90%;
  display: inline-block;
  align-content: center;
  margin-left: 15%;
  margin-top:2%;
  box-shadow: 0 4px 4px 0 rgba(.4,.4,.4,.2);
}

.example-form {

  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 60%;
}

mat-card-subtitle{
  margin-left: 20% !important;
  display: flex;
}
mat-card-title{
  margin-right: 20% !important;
  font-size: x-large;
}

.aceptarBtn{
  padding: 8px;
  background: #A7D2A0;
}

.cancelarBtn{
  padding: 8px;
  background: #E28888;
}
