<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="text-center mt-5">
    <h5>Ingrese su dirección de correo electrónico para solicitar un restablecimiento de contraseña.</h5>
    <div class="formGroup " style="margin-left: 200px ; margin-right: 200px ">
      <input type="email" class="form-control text-center " placeholder="Email Address" #passwordResetEmail required>
      <div class="m-3">
        <button type="button" class="resetearBtn" mat-stroked-button color="primary" (click)="authService.ForgotPassword(passwordResetEmail.value)">
          <i class="fas fa-key"></i>
          Resetear Contraseña
        </button>
      </div>
    </div>
    <div class="mt-2">
      <span>¿Desea volver? <a [routerLink]="'/login'">Login</a></span>
    </div>
  </div>
</div>
