button{
  padding-left: 19%;
  padding-right: 19%;
  color: #378c29 !important;
}

button:hover{
  background-color: #a4d59c;
  color: white !important;
}

a{
  color: #71b266;
  font-style: italic;
  text-decoration-line: underline;
}
