<app-nav-bar></app-nav-bar>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <app-side-bar></app-side-bar>
  </mat-drawer>

  <mat-drawer-content>

    <mat-card>
      <mat-card-title>ACTUALIZACIÓN DE INGRESO-EGRESO </mat-card-title><br>

      <mat-card-subtitle>Producto disponible</mat-card-subtitle>
      <mat-form-field class="example-full-width" appearance="fill">
        <select matNativeControl required #orden_producto value="{{movimiento['orden_producto']}}">
          <option *ngFor="let i of producto"  [value]="i['producto']">{{i['producto']}}</option>
        </select>
      </mat-form-field>

      <mat-card-subtitle>Tipo de movimiento</mat-card-subtitle>
      <mat-form-field class="example-full-width" appearance="fill">
        <select matNativeControl required #tipo value="{{movimiento['tipo']}}">
          <option value="Ingreso">Ingreso</option>
          <option value="Egreso">Egreso</option>
        </select>
      </mat-form-field>

      <mat-card-subtitle>Fecha del movimiento</mat-card-subtitle>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>MM/DD/YYYY</mat-label>
        <input matInput #fecha [matDatepicker]="picker" value="{{movimiento['fecha']}}">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker ></mat-datepicker>
      </mat-form-field>

      <mat-card-subtitle>Bodega</mat-card-subtitle>
      <mat-form-field class="example-full-width" appearance="fill" >
        <select matNativeControl required #bodega value="{{movimiento['bodega']}}">
          <option *ngFor="let i of bodegas"  [value]="i['nombre_bodega']">{{i['nombre_bodega']}}</option>
        </select>
      </mat-form-field>

      <mat-grid-list cols="2" rowHeight="6:1" >

        <mat-grid-tile>
          <mat-card-subtitle class="unitario">Costo Unidad</mat-card-subtitle>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-card-subtitle >Cantidad</mat-card-subtitle>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="example-width" appearance="fill">
            <select matNativeControl required #costoUnitario value="{{movimiento['costoUnitario']}}">
              <option *ngFor="let i of costo_unitario"  [value]="i['costoUnidad']">{{i['costoUnidad']}}</option>
            </select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="example-width" appearance="fill">
            <input matInput #cantidad value="{{movimiento['cantidad']}}">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>



      <br><br><mat-grid-list cols="2"  rowHeight="6:1">
      <mat-grid-tile>
        <button class="actualizarBtn" mat-raised-button (click)="actualizarMovimiento(orden_producto.value, tipo.value, fecha.value, bodega.value, +cantidad.value, +costoUnitario.value )"(click)="orden_producto.value=''"(click)="tipo.value=''"(click)="fecha.value=''"(click)="bodega.value=''"(click)="cantidad.value=''"(click)="costoUnitario.value=''">Actualizar</button>
      </mat-grid-tile>

      <mat-grid-tile>
        <button class="cancelarBtn" mat-raised-button (click)="router.navigate(['/inicio'])">Cancelar</button>
      </mat-grid-tile>
    </mat-grid-list>
      <h3 class="text-success">{{mensaje}}</h3>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>
