
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <!-- los nodos hijos-->
        <mat-tree-node class="child" *matTreeNodeDef="let node" matTreeNodePadding>
          <a href ="{{node.url}}">
            <li> {{node.name}}</li></a>
        </mat-tree-node>

      <!-- los nodos padres -->
      <mat-tree-node class="node" *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
        <div mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'Toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </div>
        {{node.name}}
      </mat-tree-node>
    </mat-tree>

