<app-nav-bar></app-nav-bar>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <app-side-bar></app-side-bar>
  </mat-drawer>

  <mat-drawer-content>

    <mat-card>
      <mat-card-title>CREACIÓN DE PRODUCTOS </mat-card-title><br>

      <mat-card-subtitle>Descripción del producto</mat-card-subtitle>
      <mat-form-field class="example-full-width" appearance="fill">
        <input matInput #descripcion>
      </mat-form-field>

      <mat-card-subtitle>Categoría</mat-card-subtitle>
      <mat-form-field class="example-full-width" appearance="fill">
        <select matNativeControl required #categoria>
          <option value="Tecnología">Tecnología</option>
          <option value="Insumos de oficina">Insumos de oficina</option>
          <option value="Moviliario">Moviliario</option>
        </select>
      </mat-form-field>

      <mat-card-subtitle>Precio(USD)</mat-card-subtitle>
      <mat-form-field class="example-full-width" appearance="fill">
          <input matInput #precio >
      </mat-form-field>
      <mat-grid-list cols="2" rowHeight="4:1">
        <mat-grid-tile>
          <button class="aceptarBtn" mat-raised-button (click)="crearProducto(descripcion.value, categoria.value, +precio.value)">Registrar</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button class="cancelarBtn" mat-raised-button (click)="router.navigate(['/inicio'])" >Cancelar</button>
        </mat-grid-tile>
      </mat-grid-list>
      <h3 class="text-success">{{mensaje}}</h3>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>
