<app-nav-bar></app-nav-bar>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <app-side-bar></app-side-bar>
  </mat-drawer>
  <mat-drawer-content>
    <mat-card>
      <mat-card-title>LISTADO DE MOVIMIENTOS EN BODEGA </mat-card-title><br>


      <table class="default">
        <tr>
          <th><strong>Producto</strong> </th>
          <th><strong>Cantidad items</strong></th>
          <th><strong>Tipo movimiento</strong></th>
          <th><strong>Costo total</strong></th>
          <th><strong>Costo unitario instantáneo</strong></th>
          <th><strong>Acciones</strong></th>
        </tr>

        <tr *ngFor=" let i of movBodega; let in = index">
          <td>{{i['orden_producto']}}</td>
          <td>{{i['cantidad']}}</td>
          <td>{{i['tipo']}}</td>
          <td>{{i['costoTotal']}}</td>
          <td>{{i['unitarioInstantaneo']}}</td>
          <td>
            <button class="btn" (click)="abrirDialogoEliminar(in)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </table>
      <tr>

    </mat-card>
  </mat-drawer-content>

</mat-drawer-container>
